/* ===================================
    Fonts
   =================================== */
@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/nexa_bold-webfont.eot');
    src: url('../fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nexa_bold-webfont.woff2') format('woff2'),
         url('../fonts/nexa_bold-webfont.woff') format('woff'),
         url('../fonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    src: url('../fonts/nexa_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_lightregular';
    src: url('../fonts/nexa_light-webfont.eot');
    src: url('../fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/nexa_light-webfont.woff2') format('woff2'),
        url('../fonts/nexa_light-webfont.woff') format('woff'),
        url('../fonts/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    src: url('../fonts/nexa_ligth.ttf');
    font-weight: normal;
    font-style: normal; 
}
$nexaLight:  'nexa_lightregular';
$nexaBold:  'nexa_boldregular';
/* ===================================
    Colors
   =================================== */
$mainRed: #b20505;
$navOrange: #ffaa4f;
$projectInfo: #1f1f1f;
$slate: #4d5258;
